<h1>EHI Contacts Web App</h1>
<p>Welcome to Contacts Web App, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started,</p>
<ul>
  <li><strong>Contact navigation</strong>. For example, click <em>Contacts</em> to perform List/Add/Edit/Delete Functionality </li>
  
</ul>
