<h1>Contact List</h1>

<p>This component demonstrates fetching Contact List from the server.</p>

<p *ngIf="loading$ | async"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-contact']">Create New</a>
</p>

<table class='table'>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList | async">
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phoneNumber }}</td>
        <td>{{ contact.status }}</td>
        <td>
        <td>
          <a [routerLink]="['/contact/edit/', contact.contactId]">Edit</a> |
          <a [routerLink]="" (click)="delete(contact.contactId)">Delete</a>
        </td>
      </tr>
    </tbody>
</table>
