<h1>{{title}} Contact</h1>
<hr />

<form [formGroup]="contactForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12" for="firrstName" >First Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="firstName">
    </div>
    <span class="text-danger" *ngIf="firstname?.invalid && formDir.submitted">
      First Name is required.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Last Name</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="lastName">
    </div>
    <span class="text-danger" *ngIf="lastname?.invalid && formDir.submitted">
      Last Name is required.
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Email">Email</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="email">
    </div>
    <span class="text-danger" *ngIf="email?.invalid && formDir.submitted">
      Email is required
    </span>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12"  for="phoneNumber">Phone Number</label>
    <div class="col-md-4">
      <input class="form-control" type="text" formControlName="phoneNumber">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Status">Status</label>
    <div class="col-md-4">
      <select class="form-control" data-val="true" formControlName="status">
        <option value="">-- Select Status --</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
    <span class="text-danger" *ngIf="status?.invalid && formDir.submitted">
      Status is required
    </span>
  </div>
  <hr />
  <div class="form-group">
    <button type="submit" class=" btn btn-primary">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</form>
